<div class="ui-g ui-fluid ui-g-nopad">
    <div class="ui-sm-1 ui-md-2 ui-lg-3 ui-xl-4" style="height: 100%"></div>
    <div class="ui-sm-10 ui-md-8 ui-lg-6 ui-xl-4">
        <div class="text-center border border-light p-5">
            <p class="h4 mb-4">Register</p>

            <!-- Email -->
            <input [(ngModel)]="email" class="form-control mb-4" id="defaultLoginFormEmail" placeholder="E-mail"
                   type="text">

            <!-- UserName -->
            <input [(ngModel)]="userName" class="form-control mb-4" id="defaultLoginFormUsername" placeholder="UserName"
                   type="text">

            <!-- Password -->
            <input [(ngModel)]="password" class="form-control mb-4" id="defaultLoginFormPassword" placeholder="Password"
                   type="password">

            <button (click)="registerUser(email, userName, password)" class="btn-primary" style="width: 100%;"
                    type="button">Register
            </button>
        </div>
    </div>
</div>
