
<div class="ui-g ui-fluid ui-g-nopad">
  <div class="ui-sm-1 ui-md-2 ui-lg-3 ui-xl-4" style="height: 100%"></div>
  <div class="ui-sm-10 ui-md-8 ui-lg-6 ui-xl-4">
<div class="text-center border border-light p-5">
  <p class="h4 mb-4">Register</p>

  <!-- Email -->
  <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" [(ngModel)]="email">

  <!-- UserName -->
  <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="UserName" [(ngModel)]="userName">

  <!-- Password -->
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" [(ngModel)]="password">

  <button type="button" class="btn-primary" style="width: 100%;" (click)="registerUser(email, userName, password)">Register</button>
</div>
  </div>
</div>
