<div class="ui-g ui-fluid ui-g-nopad">
    <h5 class="ui-g-9 ui-g-nopad">{{comment.username}}</h5>
    <h6 class="ui-g-3 ui-g-nopad" style="text-align: right"> {{dateToString(comment.comment.date)}}</h6>
    <p class="ui-g-12 ui-g-nopad">{{comment.comment.text}}</p>
    <button (click)="open(content)" class="btn-primary" class="ui-g-3 ui-g-nopad" type="button"><i
            class="fas fa-plus"></i></button>
    <div *ngFor="let comment of subComments" class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad" style="height: 100%"></div>
        <app-comment [comment]="comment" [level]="level + 1" [postId]="postId" [style]="safeStyle"
                     class="ui-g-11 ui-g-nopad"></app-comment>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Comment</h4>
        <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="commentContent">Content</label>
            <div class="input-group">
                <input [(ngModel)]="postContentText" class="form-control mb-4" id="commentContent" placeholder="Title"
                       type="text">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="addSubComment()" class="btn btn-success" style="width: 100%;" type="button">Save Comment
        </button>
    </div>
</ng-template>
