<div class="ui-g ui-fluid ui-g-nopad" style="text-align: center">
    <div class="cat ui-g-12" (click)="goTo('panel')"><i class="fas fa-home"></i></div>
        <div class="cat ui-sm-12 ui-md-6 ui-xl-3" (click)="goTo('c/music')"><i class="fas fa-music"></i></div>
        <div class="cat ui-sm-12 ui-md-6 ui-xl-3" (click)="goTo('c/books')"><i class="fas fa-book"></i></div>
        <div class="cat ui-sm-12 ui-md-6 ui-xl-3" (click)="goTo('c/dank')"><i class="fas fa-grin-squint-tears"></i></div>
        <div class="cat ui-sm-12 ui-md-6 ui-xl-3" (click)="goTo('c/unicredit')"><i class="fas fa-poo"></i></div>
    <button (click)="open(content)" class="btn-primary ui-g-12" type="button">Add Post</button>
    <app-post-list class="ui-g-12" [posts]="appStateService.posts"></app-post-list>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Post</h4>
        <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="postTitle">Title</label>
            <div class="input-group">
                <input [(ngModel)]="postTitle" class="form-control mb-4" id="postTitle" placeholder="Title" type="text">
            </div>
            <div class="image-upload">
                <input (change)="handleInputChange($event)" accept="image/*" name="imageUrl" type="file"/>
            </div>
            <label for="postContent">Text</label>
            <div class="input-group">
                <input [(ngModel)]="postContent" class="form-control mb-4" id="postContent" placeholder="Content"
                       type="text">
            </div>
            <div class="input-group">
                <button (click)="postTagsList.push({tag: ''})">Add Tag</button>
                <div *ngFor="let singleTag of postTagsList">
                    <input [(ngModel)]="singleTag.tag" class="form-control mb-4" placeholder="Tag" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="addPost(postTitle, postContent)" class="btn btn-success" style="width: 100%;" type="button">
            Save
        </button>
    </div>
</ng-template>

