<div class="ui-g ui-fluid ui-g-nopad" style="widows: 100%; height: 100%;background-color: #dddddd; border-radius: 10px">
<h3 class="ui-g-6 ui-g-nopad">{{post.post.title}}</h3>
<h3 class="ui-g-6 ui-g-nopad" style="text-align: right; height: 1em">{{language}}</h3>
  <div class="ui-g-3 ui-g-nopad">
<img  [src]="'https://timefunctionnip8ca1.blob.core.windows.net/files/' + post.post.id + '.png'">
  </div>
<p class="ui-g-9 ui-g-nopad">{{post.post.text}}</p>
  <div class="ui-g-10 ui-g-nopad">
    <span class="ui-g-12 ui-g-nopad" style="color: #007700; cursor: pointer;" *ngFor="let tag of post.tags" (click)="clickOnTag(tag)">{{tag}}</span>
  </div>
<a class="ui-g-2 ui-g-nopad" style="text-align: right; height: 1em" href="user/{{post.post.userId}}">{{post.authorUsername}}</a>
<div class="ui-g-12 ui-g-nopad" *ngIf="commentsExtended">
    <h2>Comments:</h2>
    <div *ngFor="let comment of comments">
        <app-comment  [comment]="comment" [postId]="post.post.id" [level]="0"></app-comment>
    </div>
</div>
  <div class="ui-g-12 ui-g-nopad" style="height: 40px"></div>
</div>

<div class="bottom ui-g ui-fluid ui-g-nopad">
  <button class="ui-g-3 ui-g-nopad" (click)="onExtendClick()"><i class="fas fa-arrows-alt-v"></i></button>
  <div class="ui-g-6 ui-g-nopad"></div>
  <button type="button" class="btn-primary ui-g-3"  (click)="open(content)"><i class="fas fa-plus"></i></button></div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Comment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="commentContent">Content</label>
      <div class="input-group">
        <input type="text" id="commentContent" class="form-control mb-4" placeholder="Title" [(ngModel)]="postContentText">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" style="width: 100%;" (click)="addPostComment()">Save Comment</button>
  </div>
</ng-template>
