<h1>{{post.post.title}}</h1>
<p>{{post.post.text}}</p>
<span *ngFor="let tag of post.tags"><span style="color: #007700; cursor: pointer" (click)="clickOnTag(tag)">{{tag}}</span></span>
<br/>
<a href="user/{{post.post.userId}}">{{post.authorUsername}}</a>
<br/>
<button (click)="onExtendClick()">Extend Comments</button>
<div *ngIf="commentsExtended">
    <h2>Comments:</h2>
    <div *ngFor="let comment of comments">
        <app-comment  [comment]="comment" [postId]="post.post.id" [level]="0"></app-comment>
    </div>
</div>
